# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        node-version: [8.x, 10.x, 12.x, 14.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }} on ${{ matrix.os }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Build & Test
      run: |
        npm install
        npm run build
        npm run lint
        npm run test
    - name: Generate coverage report
      run: |
        npm run report
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        file: ./packages/azure-opentelemetry-exporter/coverage/coverage-final.json
        fail_ci_if_error: true
